#Environment
NODE_ENV=development
APP_PORT=3000

# MOLCI Database
MOLCI_DB_USER=molci
MOLCI_DB_NAME=molci
MOLCI_DB_PASSWORD=your_db_password
DB_URI=postgresql://molci:your_db_password@localhost:5432/molci

#MOLCI Session Secret
SESSION_SECRET=your_session_secret_here

# Gitea OAuth for MolCI
FORGES_1_TYPE=gitea
FORGES_1_URL=http://localhost:3001
FORGES_1_CLIENTID=
FORGES_1_CLIENTSECRET=
FORGES_1_REDIRECTURI=http://localhost:3000/auth/callback

# Gitea Database
GITEA_DB_USER=gitea
GITEA_DB_PASSWORD=your_gitea_password
GITEA_DB_NAME=gitea