#Environment
NODE_ENV=development
APP_PORT=3000

#PostgreSQL (development)
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_NAME=database

SESSION_SECRET=your_session_secret_here

FORGES_1_TYPE=gitea
FORGES_1_URL=http://localhost:3001
FORGES_1_CLIENTID=
FORGES_1_CLIENTSECRET=
FORGES_1_REDIRECTURI=http://localhost:3002/auth/callback
