#Environment
NODE_ENV=development
APP_PORT=3000

#PostgreSQL (development)
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_NAME=database

GITEA_URL=http://localhost:3001
GITEA_CLIENT_ID=
GITEA_CLIENT_SECRET=
SESSION_SECRET=your_session_secret_here
GITEA_REDIRECT_URI=http://localhost:3000/auth/callback
FORGE_TYPES=gitea
